body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

h1 {
  color: navy;
  padding-bottom: 25px;
}

.category {
  font-size: 30px;
  color: navy;
}

.converter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.converter {
  margin: 10px;
  padding: 20px;
  border: 2px solid navy;
  border-radius: 20px;
}

input[type='text'],
input[type='number'],
button {
  height: 70px;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border-style: ridge;
}

#result,
#resultMM {
  color: navy;
  font-size: 40px;
}

/* New CSS for list layout */
.list-container {
  margin: auto;
  max-width: 600px;
  padding: 20px;
  border: 2px solid navy;
  border-radius: 20px;
  background-color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

li button {
  margin-left: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

li button:hover {
  background-color: #d32f2f;
}

.saved-lists {
  margin-top: 20px;
}

.saved-lists li {
  cursor: pointer;
}

footer {
  color: navy;
  padding-top: 100px;
  font-size: 50px;
  font: bold;
}
